h1{
    color: black;
    font-family: arial, sans-serif;
}
.cantantes{
    font-family: arial, sans-serif;
    background-color: aqua;
    padding: 30px;
    margin: 5px;
    border-radius: 10px;}
.autores{
    display:flex ;
    align-items: center;
    gap: 30px;
}
.linki{
    display: flex;
    align-items: center;
    gap: 30px;
}
a{
    color: green;
}
p{
    font-family: arial, sans-serif;
}
@media(max-width: 600px){
    .linki{
        flex-direction: column;
    }
    body{
        background-color: lightpink;
    }
}